/* ***Carga de las fuentes*** */
/* Principal */
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/Principal/BebasNeue.ttf') format('truetype');
}

/* Fuentes para las cartas */
@font-face {
    font-family: 'Playwrite AU QLD Guides';
    src: url('../fonts/Estilo-1/PlaywriteAUQLDGuides.ttf') format('truetype');
}
@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/Estilo-2/LibreBaskerville.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik Vinyl';
    src: url('../fonts/Estilo-3/RubikVinyl.ttf') format('truetype');
}

/* ***Variables de la página*** */

:root{
    /* Colores */
    --primario: #1A2A5A;
    --secundario: #2445B0;
    --terciario: #06066F;
    --cuaternario: #FFA500;

    --texto-primario: #FFFFFF;
    --texto-secundario: #ADE6FF;
    --texto-terciario: #133FC4;

    /* Fuentes */
    --fuente-principal: 'Bebas Neue';
    --fuente-estilo-1: 'Playwrite AU QLD Guides';
    --fuente-estilo-2: 'Libre Baskerville';
    --fuente-estilo-3: 'Rubik Vinyl';
}

/* ***Estilos Generales*** */

body{
    font-family: var(--fuente-principal);
    letter-spacing: 0.1rem;
    word-spacing: 0.4rem;
    text-transform: capitalize;
    margin: 0;
}

/* ***Estilos para el Header*** */

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primario);
}

.header__titulo{
    color: var(--texto-primario);
    font-size: 2.5rem;
    margin: 0;
    margin-top: 1rem;
}

.header__navegacion{
    width: 100%;
    max-width: 80rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.navegacion__elemento{
    width: 10rem;
    max-width: 15rem;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    background-color: var(--secundario);
    color: var(--texto-secundario);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.navegacion__elemento:hover{
    color: var(--texto-primario);
    background-color: var(--terciario);
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

/* ***Estilos para el formulario*** */
.formulario {
    box-sizing: border-box;
    margin: 1rem auto 0;
    min-width: 25rem;
    max-width: 50rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--primario);
    padding: 0.6rem 0;
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 1rem;
}

.formulario__seccion {
    width: 80%;
    margin: 0 auto;
    padding: 0.5rem 0 2rem;
    border-bottom: 1px solid var(--texto-primario);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.formulario__seccion:last-child {
    border-bottom: none;
    padding-bottom: 0.5rem;
}

.formulario__seccion--remitente {
    grid-row: 1/2;
}

.formulario__seccion--destinatario {
    grid-row: 2/3;
}

.formulario__seccion--estilos {
    grid-row: 3/4;
}

.formulario__seccion--mensaje {
    grid-row: 4/5;
}

.formulario__label {
    font-size: 1.65rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
    color: var(--texto-primario);
}

.formulario__boton {
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem 0.8rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--secundario);
    color: var(--texto-secundario);
    font-size: 1.2rem;
    cursor: pointer;
}

.formulario__boton:hover {
    color: var(--texto-primario);
    background-color: var(--terciario);
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.seccion__input {
    position: relative;
}

.seccion__remitente {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.seccion__estilos {
    width: 80%;
    margin-top: 0.4rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}

.remitente__anonimo {
    position: relative;
}

.estilos__opcion {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.3rem;
}

.estilos__label {
    cursor: pointer;
    font-size: 1.35rem;
    color: var(--texto-secundario);
}

.estilos__label--1 {
    font-family: var(--fuente-estilo-1);
}

.estilos__label--2 {
    font-family: var(--fuente-estilo-2);
}

.estilos__label--3 {
    font-family: var(--fuente-estilo-3);
}

.anonimo__tooltip {
    padding: 0.3rem 0;
    width: 5rem;
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 5px;
    background-color: var(--cuaternario);
    translate: 0.5rem -30%;
    text-align: center;
    color: var(--texto-primario);
    display: none;
}

/* **Íconos** */
.icono {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0.3rem;
    translate: 0 -50%;
    background-color: var(--texto-terciario);
}

.icono--remitente {
    mask: url("../img/icons/remitente.svg") no-repeat center;
}

.icono--destinatario {
    mask: url("../img/icons/destinatario.svg") no-repeat center;
}

.icono--mensaje {
    position: relative;
    translate: -30% -55%;
    background-color: var(--texto-secundario);
    mask: url("../img/icons/mensaje.svg") no-repeat center;
}

/* **Inputs** */

/* Text */
.formulario__input--text {
    box-sizing: border-box;
    width: 13rem;
    height: 2.5rem;
    padding-left: 1.8rem;
    border: 1px solid black;
    border-radius: 5px;
    color: var(--texto-terciario);
}

.formulario__input--text:focus {
    outline: none;
    border: 2px solid var(--texto-secundario);
}

/* Radio */

.formulario__input--radio {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    appearance: none;
    cursor: pointer;
    background-color: var(--texto-primario);
    mask: url("../img/icons/radio-1.svg") no-repeat center;
}

.formulario__input--radio:hover {
    mask: url("../img/icons/radio-2.svg") no-repeat center;
}

.formulario__input--radio:checked {
    transform: scale(1.25);
    mask: url("../img/icons/radio-3.svg") no-repeat center;
}

/* Checkbox */

.formulario__input--checkbox {
    width: 1.5rem;
    height: 1.5rem;
    appearance: none;
    cursor: pointer;
    background-color: var(--texto-secundario);
    mask: url("../img/icons/incognito-1.svg") no-repeat center;
}

.formulario__input--checkbox:hover {
    transform: scale(1.25)
}

.formulario__input--checkbox:hover ~ .anonimo__tooltip {
    display: block;
}

.formulario__input--checkbox:checked {
    mask: url("../img/icons/incognito-2.svg") no-repeat center;
}

/* Textarea */

.formulario__textarea {
    padding: 0.5rem;
    width: 18rem;
    height: 10rem;
    border: 1px solid black;
    border-radius: 6px;
    resize: none;
    color: var(--texto-terciario);
}

.formulario__textarea:focus {
    outline: none;
    border: 2px solid var(--texto-secundario);
}

.nosotros {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:5rem 2rem;
}

.contenedor{
    width: 15rem;
    height: 15rem;
    background-color: var(--secundario);
    color:white;
    padding: 2rem;
    border-radius: 5%;
    margin: 1rem;
    max-width:20rem;
}
.titulo{
    text-align: center;
    font-size: 1rem;
    border-bottom: 1rem solid #ADE6FF;
    font-family: var(--fuente-principal);
}
.parrafo{
    font-size: 0.8rem;
    text-align: justify;
    font-family: var(--fuente-principal);
}

/* ***Media Query*** */
@media(width > 36rem) {
    .header{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0.5rem 0 0.8rem 0.8rem;
    }

    .header__titulo{
        margin: 0;
        min-width: fit-content;
        text-align: center;
    }
    
    .header__navegacion{
        flex-direction: row;
        justify-content: flex-end;
    }

    .navegacion__elemento{
        padding: 1rem 0.5rem;
    }

    /* ***Estilos para el formulario*** */
    .formulario {
        padding: 0;
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 1fr 2fr;
        gap: 0;
    }

    .formulario__seccion {
        padding: 2rem 0;
        width: 100%;
    }

    .formulario__seccion--remitente {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .formulario__seccion--destinatario {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    
    .formulario__seccion--estilos {
        border-right: 1px solid var(--texto-primario);
        border-bottom: none;
        text-align: center;
        grid-row: 2/4;
        grid-column: 1/2;
    }
    
    .formulario__seccion--mensaje {
        box-sizing: content-box;
        margin: 0 auto;
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .seccion__estilos {
        height: 100%;
        margin-top: 2rem;
        align-content: space-between;
        gap: 0;
    }

    .formulario__textarea {
        width: 20rem;
    }

    .nosotros{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        padding: 5rem auto;
        margin:2rem;
    }

    .contenedor{
        width: 20rem;
        height: 20rem;
        background-color: var(--secundario);
        color:white;
        padding:2rem;
        margin: 8rem 2rem;
        max-width:20rem;
    }
    .titulo{
        text-align: center;
        font-size: 1.5rem;
        border-bottom: 1rem solid #ADE6FF;
        font-family: var(--fuente-principal);
    }
    .parrafo{
        font-size: 1.2rem;
        text-align: justify;
        font-family: var(--fuente-principal);
    }

}
