/* ***Carga de las fuentes*** */
/* Principal */
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/Principal/BebasNeue.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* Fuentes para las cartas */
@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/Estilo-1/LibreBaskerville.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Playwrite AU QLD Guides';
    src: url('../fonts/Estilo-2/PlaywriteAUQLDGuides.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Rubik Vinyl';
    src: url('../fonts/Estilo-3/RubikVinyl.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* ***Variables de la página*** */

:root{
    /* Colores */
    --primario: #1A2A5A;
    --secundario: #2445B0;
    --terciario: #06066F;
    --cuaternario: #FFA500;

    --texto-primario: #FFFFFF;
    --texto-secundario: #ADE6FF;

    /* Fuentes */
    --fuente-principal: 'Bebas Neue';
    --fuente-estilo-1: 'Libre Baskerville';
    --fuente-estilo-2: 'Playwrite AU QLD Guides';
    --fuente-estilo-3: 'Rubik Vinyl';
}

/* ***Estilos Generales*** */

body{
    font-family: var(--fuente-principal);
    letter-spacing: 0.1rem;
    word-spacing: 0.4rem;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

/* ***Estilos para el Header*** */

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primario);
}

.header__titulo{
    color: var(--texto-primario);
    margin: 0;
    margin-top: 1rem;
}

.header__navegacion{
    width: 100%;
    max-width: 80rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.navegacion__elemento{
    width: 10rem;
    max-width: 15rem;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    background-color: var(--secundario);
    color: var(--texto-secundario);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.navegacion__elemento:hover{
    color: var(--texto-primario);
    background-color: var(--terciario);
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

/* ***Estilos para el carrusel*** */
.carrusel {
    margin: 1rem auto;
    padding: 1rem 0;
    width: 100%;
    max-width: 50rem;
    border-radius: 6px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.carrusel__boton {
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--secundario);
    border-radius: 15px;
    opacity: 0.4;
}


.boton__anterior, .boton__siguiente {
    appearance: none;
    min-width: 100%;
    min-height: 100%;
    background-color: var(--texto-secundario);
    cursor: pointer;
}

.carrusel__boton:hover {
    background-color: var(--terciario);
}

.carrusel__boton:hover > .boton__anterior, 
.carrusel__boton:hover > .boton__siguiente {
    background-color: var(--texto-primario);
}

.boton__anterior {
    mask: url("../img/icons/anterior.svg") no-repeat center;
}

.boton__siguiente {
    mask: url("../img/icons/siguiente.svg") no-repeat center;
}

.carrusel__imagen {
    min-width: 0;
    width: 70%;
    max-width: 25rem;
}

/* ***Estilos para el formulario*** */
.formulario {
    box-sizing: border-box;
    margin: 1rem auto 0;
    min-width: 25rem;
    max-width: 50rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #E84;
    padding: 0.6rem 0;
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 1rem;
}

.formulario__seccion {
    width: 80%;
    margin: 0 auto;
    padding: 0.5rem 0 2rem;
    border-bottom: 1px solid black;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.formulario__seccion:last-child {
    border-bottom: none;
    padding-bottom: 0.5rem;
}

.formulario__seccion--remitente {
    grid-row: 1/2;
}

.formulario__seccion--destinatario {
    grid-row: 2/3;
}

.formulario__seccion--estilos {
    grid-row: 3/4;
}

.formulario__seccion--mensaje {
    grid-row: 4/5;
}

.formulario__label {
    font-size: 1.65rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
    color: #EEE;
}

.formulario__boton {
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem 0.8rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #09F;
    color: #EEE;
    font-size: 1.2rem;
    cursor: pointer;
}

.seccion__input {
    position: relative;
}

.seccion__remitente {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.seccion__estilos {
    width: 80%;
    margin-top: 0.4rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.7rem 1rem;
}

.remitente__anonimo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.2rem;
    position: relative;
}

.anonimo__label {
    width: 7rem;
    height: 2.5rem;
    padding-right: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(158, 87, 0);
    text-align: end;
    line-height: 2.5rem;
    cursor: pointer;
}

.anonimo__label:hover {
    background-color: #D73;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.estilos__opcion {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.3rem;
}

.estilos__label {
    cursor: pointer;
    font-size: 1.25rem;
    color: #EEE;
}

/* **Íconos** */
.icono {
    position: absolute;
    top: 50%;
    left: 0.3rem;
    translate: 0 -50%
}

.icono--mensaje {
    position: relative;
    translate: 0 -60%;
}

/* **Inputs** */

/* Text */
.formulario__input--text {
    box-sizing: border-box;
    width: 13rem;
    height: 2.5rem;
    padding-left: 1.8rem;
    border: 1px solid black;
    border-radius: 5px;
}

.formulario__input--text:focus {
    outline: none;
    border: 2px solid #09F;
}

/* Radio */

.formulario__input--radio {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    appearance: none;
    cursor: pointer;
    background-color: black;
    mask: url("../img/icons/radio-1.svg") no-repeat center;
}

.formulario__input--radio:hover {
    mask: url("../img/icons/radio-2.svg") no-repeat center;
}

.formulario__input--radio:checked {
    mask: url("../img/icons/radio-3.svg") no-repeat center;
}

/* Checkbox */

.formulario__input--checkbox {
    width: 1.5rem;
    height: 1.5rem;
    appearance: none;
    position: absolute;
    left: 0.5rem;
    cursor: pointer;
    background-color: black;
    mask: url("../img/icons/incognito-1.svg") no-repeat center;
}

.formulario__input--checkbox:checked {
    mask: url("../img/icons/incognito-2.svg") no-repeat center;
}

/* Textarea */

.formulario__textarea {
    padding: 0.5rem;
    width: 18rem;
    height: 10rem;
    border: 1px solid black;
    border-radius: 4px;
    resize: none;
}

.formulario__textarea:focus {
    outline: none;
    border: 2px solid #09F;
}

/* ***Media Query*** */
@media(width > 36rem) {
    .header{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0.5rem 0 0.8rem 0.8rem;
    }

    .header__titulo{
        margin: 0;
        min-width: fit-content;
        text-align: center;
    }
    
    .header__navegacion{
        flex-direction: row;
        justify-content: flex-end;
    }

    .navegacion__elemento{
        padding: 1rem 0.5rem;
    }

    /* ***Estilos para el formulario*** */
    .formulario {
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 2fr 3fr;
        gap: 1rem 0;
    }

    .formulario__seccion {
        width: 90%;
        margin: 0 auto;
        padding: 0.5rem 0 2rem;
        border-bottom: 1px solid black;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .formulario__seccion:last-child {
        border-bottom: none;
        padding-bottom: 0.5rem;
    }

    .formulario__seccion--remitente {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .formulario__seccion--destinatario {
        grid-row: 2/3;
        grid-column: 1/3;
    }
    
    .formulario__seccion--estilos {
        width: 80%;
        border-bottom: none;
        text-align: center;
        grid-row: 3/4;
        grid-column: 1/2;
    }
    
    .formulario__seccion--mensaje {
        width: 80%;
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .seccion__estilos {
        gap: 1.5rem;
    }
}